/* General */

:root {
  --bg: #272727;
  --bg-second: #f1fff785;
  --bold-one: rgb(104, 237, 255);
  --bold-two: #f5cbff;
  --text: rgb(255, 255, 255);
  --card: #2e2e2e;
  --card-hover: #717b7e;
  --bg-textbox: rgb(14, 14, 14);
  --outer-border: #fffeab9f;
  --inner-border: #fffd87e5;
  --glow: #f8c0ff;
  --glow-hover: #ffd6fd;

  --font: "Anta", sans-serif;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: small;
  color: #e6dcdc

}

#root {
  width: 80%;
  min-width: 1000px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 2rem;
  text-align: center;


}

* {
  box-sizing: border-box;
}

h3 {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Anta", sans-serif;
}

/* Header */

/* General elements */

.button {
  margin: 8px;
  background-color: rgb(59, 59, 59);
  color: white;
  padding: 4px 16px
}

/* Cards */

.date-display {
  font-family: var(--font);
}



.deck-film-card {
  padding: 8px;
  border: solid 1px grey;
  border-radius: 16px;
  margin: 4px;
  /* height: 140px; */
}

.cardback {
  width: 100%;
}

.deck-card-img {
  width: 100%;
}

/* Dash */

.watch-by-genre-box {
  width: 100%;
  padding: 4px;
  border: solid 1px rgb(122, 251, 255);
  height: 1110px;
}

.movie-titles, .recent-seen-item {
  text-align: start;
  font-size: 1.2rem;
  padding: 4px 10px 4px 10px;
  border-bottom: solid 1px #8888888c;
}

.dash-layout {
  display: grid;
  grid-template-columns: 260px 260px 1fr;
  margin-top: 16px;
}

.dash-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 4px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.144);
}

.dash-container-left-column {
  margin: 10px;
  
}

.test-box {
  height: 200px;
  width: 100%;
  background-color: rgb(43, 43, 43);
  border: solid 1px rgb(180, 240, 248);
  border-radius: 32px 0px 0px 64px;
  margin: 12px 0px;
}

.deck-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}



.deck-film-img {
  width: 100%;
  max-height: 180px;
  max-width: 124px;
}

.deck-review-container {
  width: 98%;
  padding: 8px;
  /* border: solid 1px grey; */
  border-radius: 16px;
  margin: 4px;
  height: 140px;
}

.review-text-box {
  background-color: rgb(59, 59, 59);
  border: solid 1px grey;
  border-radius: 16px;
  height: 100%;
}

/* Dash lists */

.recent-seen-list {
  border: solid 1px rgba(233, 158, 252, 0.568);
  height: 1110px;
  width: 100%;
}

.recent-seen-item {
  padding: 6px 10px;
  transition: all 0.8s ease;
  opacity: 0.5;
}

.recent-seen-item.active {
  opacity: 1;
  background: #333;
  color: white;
  transform: scale(1.05);
  border-left: 3px solid orange;
}

.recent-poster {
  height: 200px;
  margin: 20px;
}

.genre-group h3 {
  user-select: none;
  padding: 6px 14px;
  background-color: #6f557a96;

}

.genre-items {
  padding-left: 10px;
}







.split-by-title {
  /* border-top: solid 1px var(--bold-two); */
  background-image: linear-gradient(rgba(240, 180, 255, 0.26), rgba(0, 0, 0, 0));
  padding-left: 16px;
}

.to-watch__selected-title {
  text-align: start;
  padding: 4px 16px;
  line-height: 32px;
  font-family: "Anta", sans-serif;
  font-size: 2rem;
  background-color: #3f3f3f46;
}

.deck-recommendation-container {
  width: 98%;
  padding: 0px;
  /* border: solid 1px grey; */
  border-radius: 16px;
  margin: 4px;
  /* height: 140px; */
}

/* To watch pages */

.to-watch-layout {
  display: grid;
  grid-template-columns: 200px minmax(0, 1fr);
  border: solid 1px grey;
  border-radius: 64px 0px 0px;
  padding-top: 16px;
}

.to-watch__display-button-box {
  display: flex;
  justify-content: start;
  border-left: solid 1px grey;
  padding-left: 8px;
}

.to-watch__display-container {
  border: solid 1px rgba(234, 165, 255, 0.527);
  border-right: none;
  margin: 4px 0px;
}

.to-watch__movie-grid {
  border-bottom: solid 1px rgba(88, 88, 88, 0.37);
  display: flex;
  overflow-x: auto;
  gap: 4px;
  padding: 2px 10px;
  scroll-behavior: smooth;
}

/* Seen page */

.seen-layout {
  display: grid;
  grid-template-columns: 200px minmax(0, 1fr);
  border: solid 1px grey;
  border-radius: 64px 0px 0px;
  padding-top: 16px;
}

.seen__display-container {
  border: solid 1px rgb(88, 88, 88);

}

.seen-page-boxes {
  border: solid 1px rgb(88, 88, 88);

  display: flex;
  overflow-x: auto;
  gap: 4px;
  padding: 10px;
  scroll-behavior: smooth;

}

.review-card-box {
  max-width: 150px;
}




.title-box {
  position: relative;
}

.film-img-box {
  position: relative;
}

.title-font {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0), black);
  width: 100%;
  bottom: 4px;
  padding: 4px;
  padding-top: 20px;
  left: 0px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0px 0px 4px 4px;
  transition: all 0.2s ease-in;
  opacity: 0;
}

.title-font__date {
  font-size: 0.8rem;
}

.card-back {
  background-color: rgba(0, 0, 0, 0.144);
  border-radius: 20px;
  padding: 10px;
  margin: 4px;
}

.movie-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* make responsive design so where ever it is put the film card size stays the same but the number of cards on the grid changes*/
}

/* Search */

.search-movie-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-form {
  margin: 8px 0px;
}




.film-card {
  border-radius: 4px;
  /* width: 150px; */
  /* height: 350px; */
  margin: 4px;
  padding-bottom: 1px;
  background-color: var(--card);
  position: relative;
  box-shadow: 0px 0px 6px #f8f8f8b4;
  transition: all 0.2s ease-in;
  position: relative;
  height: 206px;

}



.film-card:hover {

  transform: scale(1.04);
  z-index: 1000;


}

.film-card:hover .title-font {
  opacity: 1;
  cursor: pointer;
  transition:
      opacity 0.3s ease,
      transform 0.3s ease;

}

.film-card:hover .date-display {
  
  display: none;
  transition:
      opacity 0.3s ease,
      transform 0.3s ease;
}

.button-box {
  /* border-top: solid 1px grey;
  border-bottom: solid 1px grey; */
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  /* padding: 1rem; */

  opacity: 0;
  /* transform: translateY(15px); */

  transition:
      opacity 0.3s ease,
      transform 0.3s ease;

  pointer-events: none;


}

.film-card:hover .button-box {
    opacity: 1;
    /* transform: translateY(0); */
    pointer-events: auto;
}



/* .seen-page-boxes {
  border: solid 1px rgb(88, 88, 88);
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 10px;
  scroll-behavior: smooth;
} */

.movie-grid > div {
  flex: 0 0 auto;
  /* width: 160px; */
}

.recommdations-movie-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.rate-box {
  border: 1px solid #555555;
  margin: 0px;
  border-radius: 4px;
  display: flex;
  justify-content:space-around;
  background-color: #333333;
}

.card-button {
  padding: 0px;
  display: flex;
  align-items: center;
  max-height: 26px;
  margin: 2px;
}

.card-icon {
  height: 18px;
  margin: 2px 2px;
}

/* Watch names */


.watch-names-box, .seen-names-box {
  width: 100%;
  padding: 8px 4px;
  margin: 0px 8px;
  text-align: start;
  font-size: 1rem;
  border-bottom: dashed 1px rgba(128, 128, 128, 0.473);
}

.rate-button, .seen-button {
  margin: 2px 2px;
}

/* Modals */

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.info-modal {
  background: rgb(27, 27, 27);
  border: solid 1px rgb(133, 133, 133);
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.info-modal__title {
  margin: 0px;
}

.stats-image-box {
  display: flex;
  flex-direction: row;
}

.info-modal-stats {
  padding: 16px;
  max-height: 400px;
}

.modal-film-img {
  height: 400px;
}

.info-modal__button-box {
  display: flex;
  justify-content: space-between;
}

.deck-button {
  padding: 0px 8px;
}

.in-deck {
  background-color: rgb(179, 179, 255);
}

.rating-modal {

}

.priority-modal {
  border: solid 1px grey;
  border-radius: 16px;
  padding: 16px;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  position: relative;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
}

.recommendations {
  display: flex;
  flex-direction: row;
  border-top: solid 1px rgba(255, 255, 255, 0.178);
  border-bottom: solid 1px rgb(85, 85, 85);
  justify-content: space-around;
  background-image: linear-gradient(#6f557a, #000000, #33333300);
  border-radius: 16px;
  max-height: 195px;
}

.recommendation {
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(255, 255, 255, 0.267);
  text-align: center;
  padding: 4px;
  border-radius: 8px;
  max-width: 100px;

}

.recommendation-img {
  height: 140px;

}

.info-modal__overview {
  max-height: 148px;
}

.modal {
  background: rgb(10, 10, 10);
  padding: 20px;
  border-radius: 10px;
}

.film-img {
  background-color: white;
  border-radius: 4px;
  /* margin: 8px;
  margin-bottom: 0px; */
  height: 175px;
  width: 120px;
  cursor: pointer;
}

.have-seen {
  background-color: rgba(204, 202, 90, 0.856);
}

.on-to-watch-list {
  background-color: rgba(223, 101, 101, 0.651);
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  float: left;
  transform: translate(-50%, -50%);
  background-color: rgb(85, 78, 78);
  width: 75%;
  height: 300px;
  max-width: 700px;
  border-radius: 30px;
  display: none;
}

.login-bar-link {
  background-color: rgb(139, 139, 139);
  padding: 2px 2px 4px 2px;
}

.sign-up-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-box {
  width: 50%;

}