

a {
  font-weight: 500;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #e7e7e7;
  text-decoration: inherit;
}
a:hover {
  color: #f3ffb0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgb(7, 7, 7) 400px, #554858);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 20px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  text-align: start;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  background-color: #dbdbdb;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #eeafff;
  background-color: rgb(206, 249, 255);
}


