.navbar {
  background-image: linear-gradient(rgba(0, 0, 0, 0), #8a8a8a);
  border: solid 1px rgb(124, 124, 124);
  margin-top: 20px;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
}

.nav-link {
  font-size: 2.4rem;
  padding: 0.5rem 1rem;
  margin: 0px 16px;
  border-radius: 4px;
  transition: background-color 0.2s;
  border: solid 2px rgb(139, 171, 175);
  font-family: "Anta", sans-serif;
}

/* .nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  
} */

.culture-deck-nav-link {
  
}

.nav-link:hover, .navbar-homepage:hover {
  border: solid 2px rgb(101, 181, 196);
}

@media (max-width: 800px) {
  .nav-link {
    font-size: 1.2rem;
  }
}

/* @media (max-width: 768px) {

  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
} */

/* Mobile Nav */

.mobilenav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0px;
  height: 60px;
  width: 100%;
  max-width: 1090px;
  background-color: rgb(165, 165, 165);
  z-index: 10000;
}

.bottom-nav-bar-block {
  height: 70px;
  width: 100%;
}

.mobilenav__link {
  padding: 8px 16px;
  margin: 8px 8px;
  background-color: #8a8a8a;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 32px;
}

@media (min-width: 800px) {
    .mobilenav {
    display: none;

  }

  .bottom-nav-bar-block {
    display: none;
  }

}