.navbar {
  background-image: linear-gradient(rgba(0, 0, 0, 0), #8a8a8a);
  border: solid 1px rgb(124, 124, 124);
  margin-top: 20px;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
}

.nav-link {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 0px 16px;
  border-radius: 4px;
  transition: background-color 0.2s;
  border: solid 2px grey;
}

.nav-link:hover, .navbar-homepage:hover {
  border: solid 1px grey;
}

@media (max-width: 768px) {

  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
}